.input-form{
  input[type="text"],
  input[type="number"]{
    padding: 0 10px;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #cfd8dc;
  }
  &__range{
    display: flex;
    align-items: center;
    input[type="range"]{
      flex-grow: 1;
    }
    .slider__wrapper:hover .slider__label{
      display: block;
    }
    .slider__label{
      display: none;
      top: unset;
      bottom: -17px;
    }
    .slider__label:after {
      top: -10px;
      bottom: unset;
      border-bottom-color: #fff;
    }
  }
}